.generic-content-container {

	p {
	margin: 0 0 1.8rem 0;
	line-height: 1.65;
/* line-height no necesita medida como px o em... */
	font-weight: 300;

		@mixin atSmall {
			font-size: 1.125rem;
		}
	

	}

	p a {
		font-weight: 700;
	}
}