.wrapper {
	padding-left: 18px;
	padding-right: 18px;
	/* max-width: 1200px;
tener en cuenta que al agregar border-box a todos los elementos
cambiamos la relacion, por eso ahora sumo lo que le di con padding */
	max-width: 1236px;
	margin-right: auto;
	margin-left: auto;

	overflow: hidden;

	&--medium {
		max-width: 976px;
	}
	.wrapper {
		padding-left: 0;
		padding-right: 0;
	}

	&--b-margin {

		margin-bottom: 1rem;
		@mixin atSmall {
			margin-bottom: 3.875rem;
		}
	}
}